VITE_SUPABASE_URL=https://cmwzuesdhluzfyytzamx.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImNtd3p1ZXNkaGx1emZ5eXR6YW14Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODkzOTUzNTYsImV4cCI6MjEwNDk3MTM1Nn0.Qz5tjew79PLGODoZyVRs-2L-KKl_AyJGykWm8y9TQCU
